.ico {
  cursor: pointer;
  display: inline-block;
}

.icon-square {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &_yellow {
    background-color: $color-yellow;
  }
  &_red {
    background-color: $color-red;
  }
  &_blue {
    background-color: $color-blue;
  }
  &_violet {
    background-color: $color-violet;
  }
}

.ico_play {
  background-image: url("../../img/icons/Triangle_Play.svg");
  width: 18px;
  height: 19px;
}

.ico_arrow {
  background-image: url("../../img/icons/ico_arrow.svg");
  width: 12px;
  height: 17px;
}

.ico_wave {
  background-image: url("../../img/icons/ico_wave.svg");
  width: 18px;
  height: 14px;
}

.ico_heart {
  background-image: url("../../img/icons/ico_heart.svg");
  width: 17px;
  height: 15px;
}

.ico_hourglass {
  background-image: url("../../img/icons/ico_hourglass.svg");
  width: 15px;
  height: 17px;
}
