$color-primary: #ff9900;
$color-additional: #ff7549;
$color-background: #ffeee1;
$color-link: #1943ef;
$color-tag: #f5f5f5;
$color-text: #544837;
$color-hovered: #bcd0e5;
$color-heading: #2f281e;
$color-border: #d7d7d7;
$color-light: #ffffff;
$color-hamburger: #173a56;
$color-overlay: rgba(80, 80, 80, 0.4);
$scroll-violet: #5f25a1;

$color-violet: #7752be;
$color-yellow: #fab005;
$color-red: #f03e3d;
$color-blue: #4dadf7;

$content-width: 1197px;
$tablet-width: 820px;
$mobile-big-width: 425px;
$mobile-small-width: 320px;
