.strategies {
  padding: 30px 0;
  @include media-table {
    text-align: center;
  }
}

.strategies__title {
  margin: 0 0 14px;
}

.strategies__description {
  margin: 0 0 24px;
}

.strategies__tags {
  margin-bottom: 31px;
  cursor: pointer;
  @include media-table {
    justify-content: center;
  }
  .tag {
    &:not(&_selected):hover {
      background-color: $color-background;
    }
  }
}

.strategy-wrapper {
  > * {
    margin-bottom: 30px;
    @include media-table {
      flex-basis: 48%;
    }
    @include media-mobile {
      flex-basis: 100%;
    }
  }
}

.strategy {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  @extend %transition;
  @include media-table {
    overflow: hidden;
  }
  &_hidden {
    display: none;
  }
  &:hover,
  &:focus {
    transform: translateY(-1.2%) scale(1.02);
  }
}

.strategy__content {
  padding: 24px 33px 26px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.strategy__title {
  margin: 0 0 29px;
  text-align: left;
}

.strategy__tags {
  .tag {
    border-radius: 90px;
    padding: 5px 14px;
    @include font($size: 1.3rem, $height: 2.8rem, $weight: 400);
    background-color: $color-background;
  }
}

.article-modal__content {
  .strategy__image {
    width: 100%;
    @include media-table {
      position: static;
    }
  }

  .strategy__date {
    @include font($size: 1.3rem, $weight: 400);
  }

  .strategy_name {
    margin-bottom: 10px;
  }

  .strategy__text {
    margin: 0 0 12px;
  }
}
