.footer {
  padding: 60px 0 70px;
  @include media-mobile {
    padding: 31px 0;
  }
}

.footer-wrapper {
  display: flex;
  @include media-table {
    flex-direction: column;
  }
}

.footer-navigation {
  flex-grow: 1;
  padding-left: 152px;
  @include media-table {
    padding-left: 0;
    margin-top: 34px;
  }
  @include media-mobile {
    flex-direction: column;
  }
}

.footer-navigation__title {
  margin: 0 0 15px;
}

.footer-navigation__links {
  @extend %font-add;
  list-style: none;
  padding: 0;
  a {
    color: $color-text;
    @extend %transition;
    @include font($size: 1.6rem, $height: 3.5rem, $weight: 400);
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }
}
